* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: whitesmoke;
  padding: 50px;
  height: 100vh;
  justify-content: center;
  margin: auto;
  /* text-align: center; */
}
h1 {
  text-align: center;
  padding: 10px;
}
body {
  background-color: black;
}

.container {
  justify-content: center;
  margin: auto;
}

.cards {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  padding: 1.2rem;
  box-shadow: 2px 2px 8px gray;
  cursor: pointer;
  transition: 0.3s all;
}
.image img {
  width: 80px;
  height: 80px;
  border-radius: 100px;
}
.dot {
  transform: translateY(-20px);
  width: 5px;
  height: 5px;
  background-color: dodgerblue;
  margin-top: 2.5px;
  border-radius: 100px;
}

.header {
  align-items: center;
  display: flex;
  gap: 10px;
}

.name {
  font-size: 22px;
  color: black;
}
span {
  color: gray;
}
.contact {
  color: dodgerblue;
}
.shift {
  color: black;
  font-weight: 700;
}
.consult {
  color: springgreen;
}
.timer {
  display: flex;
  gap: 20px;
}

/* Hovers */
.card:hover {
  scale: 1.05;
  transition: 0.3s all;
}
