.green{
    background-color: green;
    height: 200px;
    display: none;
}
.orange{
    background-color: orange;
    height: 200px;
    display: none;
}
.red{
    background-color: red;
    height: 200px;
    display: none;
}

@media (min-width:768px){
    .green{
        display: block;
    }
}

@media (min-width:820px){
    .orange{
        display: block;
        margin-top: -30px;
    }
}
@media (min-width:920px){
    .red{
        display: block;
        margin-top: -30px;
    }
}